@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-default;
}

button:focus {
  @apply outline-none;
}

/* ---- COLORS ---- */

.h-primary-color {
  @apply text-white;
}

.h-secondary-color {
  @apply text-gray-300;
}

.h-third-color {
  @apply text-gray-500;
}

.p-primary-color {
  @apply text-gray-400;
}

.link-color {
  @apply text-gray-500;
}

/* ---- FONTS ---- */

.h-primary {
  @apply text-white;
  @apply font-semibold;
  @apply text-2xl;
}

.h-secondary {
  @apply text-lg;
  @apply text-gray-300;
  @apply font-semibold;
}

.h-third {
  @apply text-gray-500;
  @apply font-semibold;
}

.p-primary {
  @apply text-gray-400;
  @apply font-normal;
  @apply text-base;
}

/* ---- NAVIGATION LINK ---- */

.link {
  @apply text-gray-500;
  @apply text-lg;
  @apply font-medium;
}

.active-link {
  @apply text-green-500;
  @apply border-b;
  @apply border-green-500;
}

/* ---- MENU BUTTON ---- */

.menu-btn {
  @apply w-fc;
  @apply h-8;
}

.menu-btn .btn {
  height: 3px;
  @apply w-6;
  @apply relative;
  @apply text-white;
  @apply bg-current;
  @apply rounded-full;

  transition: transform 200ms ease-in-out;
}

.menu-btn:hover .btn,
.menu-btn:focus .btn {
  @apply text-gray-400;
}

.menu-btn .btn::before,
.menu-btn .btn::after {
  @apply w-full;
  @apply h-full;
  @apply top-0;
  @apply left-0;
  @apply absolute;

  @apply bg-current;
  @apply rounded;
  content: '';

  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

.menu-btn .btn::before {
  transform: translateY(-0.5rem);
}

.menu-btn .btn::after {
  transform: translateY(0.5rem);
}

/* ---- LABELS BTN ---- */

.labels-btn {
  @apply rounded;
}

.labels-btn-inner:hover svg,
.labels-btn-inner:focus svg {
  @apply text-gray-600;
}

.labels-btn-outer:hover,
.labels-btn-outer:focus {
  @apply bg-gray-700;
}

.labels-btn-green:focus svg,
.labels-btn-green:hover svg {
  @apply text-green-500;
}

/* ---- DEFAULT BUTTON ---- */

.btn-def {
  @apply min-h-10;
  @apply px-4;
  @apply rounded;
  @apply font-semibold;
}

/* ---- INPUT ---- */

.input {
  @apply w-full;
  @apply h-10;
  @apply relative;
}

.input input {
  @apply w-full;
  @apply h-10;
  @apply px-6;

  @apply bg-gray-800;
  @apply text-gray-300;
  @apply rounded;
}

.input input:focus + label,
.active-input {
  @apply text-sm;
  transform: translate(-1.3rem, -190%) !important;
}

.input label {
  @apply absolute;
  top: 50%;
  left: 1.5rem;
  transform: translate(0, -50%);

  @apply text-gray-500;
  @apply pointer-events-none;

  transition: all 200ms ease-in-out;
}

/* ---- HELPERS ---- */

.wrapper {
  @apply p-8;
}

.wrapper-sm {
  @apply p-4;
}

.flex-center {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.flex-center-between {
  @apply flex;
  @apply items-center;
  @apply justify-between;
}
